selenium>=4,<5
# https://github.com/SergeyPirogov/webdriver_manager
webdriver-manager
black
flake8
rich
questionary
fastapi
uvicorn
sqlalchemy
pydantic
jinja2
python-multipart
firebase-admin
cryptography
python-dotenv
requests
